@use "../variables/colors";

html {
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

.general-content {
  width: 100vw;
  height: 100vh;
  background-color: #deeff1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 1000px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.image-container {
  flex: 2;
}

.presentation {
  flex: 3;
  font-family: Manrope, Arial;
  color: #505050;
  padding: 40px;

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 150px;
  }

  &__person {
    display: flex;
    align-items: center;
  }

  &__person h2 {
    font-weight: bold;
    font-size: 20px;
  }

  &__person img:nth-child(3) {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100%;
  }

  &__person div:nth-child(2) {
    padding: 0 20px;
  }
}

.presentation div h1 {
  font-weight: bold;
  font-size: 30px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation div p {
  padding: 10px 0;
}
