@use "../variables/colors";

html {
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

.general-content {
  width: 100vw;
  height: 100vh;
  background-color: #deeff1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 1000px;
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.image-container {
  flex: 2;
}

.presentation {
  flex: 3;

  &__image {
    width: 50px;
    height: 50px;
  }

  &__person {
    display: flex;
  }
}

.image-container img {
  width: 100%;
  height: auto;
}
