@use "../variables/colors";

html {
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: 700;
}

.general-content {
  width: 100vw;
  height: 100vh;
  background-color: #deeff1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 1000px;
  background-color: #fff;
  margin: 80px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  transition: 1s;

  @media (max-width: 700px) {
    display: block;
  }
}

.image-container {
  flex: 2;
}

.presentation {
  flex: 3;
  font-family: Manrope, Arial;
  color: #505050;
  padding: 40px;

  @media (max-width: 700px) {
    padding: 0;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 150px;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__person {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 700px) {
      background-color: #414141;
    }
  }
  &__person h2 {
    font-weight: 700;
    font-size: 20px;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__person div:nth-child(3) {
    padding: 0 90px;
    position: fixed;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__person--icon > img {
    width: 20px;
    height: 20px;

    @media (max-width: 700px) {
      filter: brightness(10);
    }
  }
}

.share {
  display: none;

  @media (max-width: 700px) {
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 8px;
    display: block;
  }
}

.presentation > div {
  @media (max-width: 700px) {
    padding: 40px;
  }
}

.presentation div h1 {
  font-weight: bold;
  font-size: 30px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation div p {
  padding: 10px 0;
}

.facebook {
  display: none;

  @media (max-width: 700px) {
    display: block;
  }
}

.twitter {
  display: none;

  @media (max-width: 700px) {
    display: block;
  }
}

.pinterest {
  display: none;

  @media (max-width: 700px) {
    display: block;
  }
}
